[submodule "CoreMaterials"]
	path = Plugins/CoreMaterials
	url = https://github.com/XyonX/CoreMaterials.git
[submodule "Plugins/CoreUI"]
	path = Plugins/CoreUI
	url = https://github.com/XyonX/CoreUI.git
[submodule "Plugins/ProceduralGeneration"]
      path = Plugins/ProceduralGeneration
      url = https://github.com/XyonX/ProceduralGeneration.git	
[submodule "Plugins/CoreChatSystem"]
	path = Plugins/CoreChatSystem
	url = https://github.com/XyonX/CoreChatSystem.git
[submodule "Plugins/CorePlugin"]
	path = Plugins/CorePlugin
	url = https://github.com/XyonX/CorePlugin.git
[submodule "Plugins/CoreThirdPerson"]
	path = Plugins/CoreThirdPerson
	url = https://github.com/XyonX/CoreThirdPerson.git

[submodule "Plugins/CoreGameManager"]
	path = Plugins/CoreGameManager
	url = https://github.com/XyonX/CoreGameManager.git
[submodule "Plugins/CoreCharacter"]
	path = Plugins/CoreCharacter
	url = https://github.com/XyonX/CoreCharacter.git
