[submodule "CoreMaterials"]
	path = CoreMaterials
	url = https://github.com/XyonX/CoreMaterials.git
[submodule "ProceduralGeneration"]
	path = ProceduralGeneration
	url = https://github.com/XyonX/ProceduralGeneration.git
[submodule "Plugins/CoreUI"]
	path = Plugins/CoreUI
	url = https://github.com/XyonX/CoreUI.git
	
	
[submodule "Plugins/CoreChatSystem"]
	path = Plugins/CoreChatSystem
	url = https://github.com/XyonX/CoreChatSystem.git
[submodule "Plugins/CorePlugin"]
	path = Plugins/CorePlugin
	url = https://github.com/XyonX/CorePlugin.git
[submodule "CoreChatSystem"]
	path = Plugins/CoreChatSystem
	url = https://github.com/XyonX/CoreChatSystem.git