[submodule "CoreMaterials"]
	path = CoreMaterials
	url = ./Plugins/CoreMaterials
[submodule "ProceduralGeneration"]
	path = ProceduralGeneration
	url = https://github.com/XyonX/ProceduralGeneration.git
[submodule "Plugins/CoreUI"]
	path = Plugins/CoreUI
	url = https://github.com/username/CoreUI.git
